<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客详情</title>
     <link rel="shortcut icon" href="/favicon.ico" >
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="__CSS__/article.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
	<script type="text/javascript" src="/../static/admin/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div>
  	{include file="index/header"/}
  </div>
		<h4>
     		<b>Sunshine博客-->博客详情</b>
     	</h4>
	<article>
		<h2>{$blog.blogname}</h2>
		<p><span>{$blog.time}</span><span style="margin-left: 30px;">浏览数：{$blog.liulannum}</span><span style="margin-left: 30px;">评论数：{$blog.evalutiontime}</span></p>
		<hr>
	    <p>{$blog.content}</p>
        <div class="foot">
        	<div class="popup" onclick="myPerfect('{$blog.id}')">赞
        	<span class="popuptext" id="myPopup">点赞成功+1</span>
        	<span class="popuptext" id="outPopup">点赞失败</span>
           </div>
        </div>
        <div id="comment" class="mid">
        	<h2 style="margin-left: 5px;">写下你的评论：</h2>
        	<input type="text" id="otherinput" placeholder="你想说的话……">
        	<span onclick="newElement()" class="addBtn">评论</span>
        </div>
       <div class="mid_f">
        <ul id="commentUL">
        	<li>非常喜欢</li>
        </ul>
     </div>
	</article>
	<script type="text/javascript" charset="utf-8" src="__JS__/articleindex.js"></script>
</body>
</html>