<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人简介</title>
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
	 <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
	 <link rel="stylesheet" type="text/css" href="__CSS__/selfInfo.css">
</head>
<body>
<div> 
  	{include file="index/header"/}
  </div>
  <style>
    .nav_2{
       color: #454545;
       background-color: #fffbf0;
       border-radius: 50px 0;
    }
  </style>
  <article>
  	<div class="Lbox">
  		<img src="__IMG__/self.png">
  		<h2 style="text-align: center;">{$name}</h2>
  		<div class="LboxTitle">	
           <h3>基础信息</h3>
           <div class="info">
           	<ul>
           		<li>工作经验：{$jobExper}</li>
           		<li>现居：{$address}</li>
           		<li>政治面貌：{$politicalface}</li>
           	</ul>
           </div>
     	</div>
     	<div class="LboxTitle">	
           <h3>联系方式</h3>
           <div class="info">
           	<ul>
           		<li>电话:{$phone}</li>
           		<li>QQ:{$QQ}</li>
           		<li>微信：{$weixin}</li>
           	</ul>
           </div>
       </div>
       <div class="LboxTitle">	
           <h3>获奖证书</h3>
           <div class="info">
           	<ul>
              {volist name="prizeList" id="vo"}
           		<li>{$vo.prizename}</li>
              {/volist}
           	</ul>
           </div>
       </div>
  	</div>
  	<div class="rbox">
      <div class="rboxTitle">	
           <h3>教育背景  Education</h3>
           <div class="litTitle">
           	<span class="time">{$studytime}</span>
           	<span class="address">{$studyschool}</span>
           	<span class="job">{$studeresult}</span>
           </div>
           <div class="info1">
           	<ul>
           		<li>学院：{$studycollege}</li>
           		<li>专业：{$studyjob}</li>
           	</ul>
           </div>
       </div>
       <div class="rboxTitle">	
           <h3>实习经历  Experience</h3>
           {volist name="item" id="vo"}
           <div class="litTitle">
           	<span class="time">{$vo.time}</span>
           	<span class="address">{$vo.company}</span>
           	<span class="job">{$vo.position}</span>
           </div>
           <div class="info1">
           	<ul>
           		<li>{$vo.description}</li>
           	</ul>
           </div>
           {/volist}
       </div>
       <div class="rboxTitle">	
           <h3>技能证书 Skil</h3>
           <div class="info1">
           	<ul>
           		{volist name="prizeList" id="vo"}
              <li>{$vo.prizename}</li>
              {/volist}
           	</ul>
           </div>
       </div>
       <div class="rboxTitle">	
           <h3>自我评价 About Me</h3>
           <div class="info1">
           	<ul>
           		<li>{$evaluation}</li>
           	</ul>
           </div>
       </div>
  	</div>
  
  </article>
</body>
</html>