 <header>
     <div class="topbg">
      <div id="toptitle">
      <span >欢迎来到欧连红个人博客站</span>
    </div>
     </div>
     <div class="topbgline"></div>
     <div class="logo"></div>
     <nav id="topnav">
       <ul>
         <a class="nav_1" href="/../index/Index/index" title="首页">首页</a>
         <a class="nav_2" href="/../index/Index/selfInfo" title="个人简历">个人简历</a>
         <a class="nav_3" href="/../index/Index/mood" title="心情随笔">心情随笔</a>
         <a class="nav_4" href="/../index/Index/technology" title="技术分享">技术分享</a>
         <a class="nav_5" href="#"title="书屋">书屋</a>
         <a class="nav_6" href="/../index/Proposal/proposal"title="博客留言">博客留言</a>
         <a class="nav_7" href="#"title="关于我们">关于我们</a>
       </ul>
     </nav>
   </header>
