<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>技术分享-->sunshine博客</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/mood.css">
</head>
<body>
	<div>
  	{include file="index/header"/}
  </div>
  <style>
    .nav_4{
      color: #454545;
       background-color: #fffbf0;
       border-radius: 50px 0;
    }
  </style>
  <article>
  	<div class="lbox">
  		  <div class="topnews">
     	<h2>
     		<b>Sunshine博客-->技术分享</b>
     	</h2>
      {volist name="technologyList" id="vo"}
     	  <div class="blogs">
        <div class="picture">
          <a href="/../index/Article/article/id/{$vo.id}" title="{$vo.blogname}" target="_blank">
            <img src={$vo.picture} style="width: 167px;height: 137px;display: block;margin-top: 30px;margin-bottom: 10px" alt="{$vo.blogname}" />
          </a>
        </div>
        <div style="margin-left: 190px;">
          <h3 >
            <a href="/../index/Article/article/id/{$vo.id}" target="_blank" style="color: #404040;text-decoration: none">{$vo.blogname}</a>
          </h3>
          <div style="font-size:14px;line-height:30px;height:80px;overflow:hidden;" >
            {$vo.content}
          </div>
          <p class="author">
            <span class="f_1">
              <img src="__IMG__/icon_1.jpg">
              {$vo.type}
            </span>
            <span class="f_1">
              <img src="__IMG__/icon_3.jpg">
              <span style="color: #474645">{$vo.time}</span>
            </span>
            <span class="f_1">
              <img src="__IMG__/icon_2.jpg">
                <span style="color: #474645">评论({$vo.evalutiontime})</span>
            </span>
            <span class="f_1">
            <img src="__IMG__/icon_4.jpg">
            <span style="color: #474645">浏览({$vo.liulannum})</span>
             </span>
          </p>
        </div>
      </div>
      {/volist}
      <div class="page">{$page}</div>
     </div>
  	</div>
  	<div class="rbox">
  		<h2>全部文章</h2>
  		<ul>
  			{volist name="technologyList" id="vo"}
  			<li style="margin-bottom: 10px;">{$vo.blogname}</li>
  			{/volist}
  		</ul>
  	</div>
  </article>
</body>
</html>